.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  z-index: 1000; 
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.form-container label {
  display: block;
  margin-bottom: 2px;
  color: #4caf50;
  font-weight: bold;
}

.form-container input,
.form-container textarea,
.form-container select {
  padding: 8px;
  margin-right: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.location-input{
  margin-top: 0px;
}

p{
  padding: 2px;
}

.form-container .location-input a {
  font-size: 12px;
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
  align-self: flex-start;
}

.form-container .location-input p {
  font-size: 11px;
  color: #888;
}


